<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>688958178736-hqd7tacf596agb3slu6p4g0qq4uao1gn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688958178736-hqd7tacf596agb3slu6p4g0qq4uao1gn</string>
	<key>API_KEY</key>
	<string>AIzaSyDT6OJRlEHXWhgMiL6DCj8Yfju0LNnUcEI</string>
	<key>GCM_SENDER_ID</key>
	<string>688958178736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loTracker</string>
	<key>PROJECT_ID</key>
	<string>lotracker-f4942</string>
	<key>STORAGE_BUCKET</key>
	<string>lotracker-f4942.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688958178736:ios:14507553ef3b98ab004275</string>
</dict>
</plist>